/* About */
.about-me-container-top {
    background-color: var(--color-white);
}

.about-me-top {
    padding: 85px 0;
}

@media screen and (max-width: 1000px) {
    .about-me-top {
        padding: 50px 0 0 0;
    }

    .about-me-description p {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 700px) {
    .about-me-count-container {
        flex-direction: column;
        gap: 20px;
    }
}

.about-me-count {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about-awards-winning-right {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about-hero-learn-more-about-award {
    background-color: var(--color-primary-buttons);
    border: none;
    color: var(--color-white);
    padding: 15px 55px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 50px;
    font-family: var(--paragraph) !important;
    font-weight: 500;
}

/* Award Wining */
.about-awards-winning {
    background-color: var(--color-white);
    background-image: linear-gradient(150deg, #ACC8D3 -34%, var(--color-white)) !important;
}

.about-awards-winning-first {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 100px;
    padding: 100px 0;
}

@media screen and (max-width: 1000px) {
    .about-awards-winning-first {
        grid-template-columns: 1fr;
    }
}

.about-awards-winning-left h1 {
    font-size: 48px;
    font-weight: 700;
    color: var(--primary-color-for-headings);
    font-family: var(--heading);
    margin: 0;
    padding: 0;
}

.about-awards-winning-left h2 {
    font-size: 48px;
    font-weight: 700;
    font-family: var(--heading);
    color: var(--primary-color-for-headings);
    display: inline-block;
    border-bottom: 5px solid var(--primary-color-for-headings);
    margin-top: 27px;
    margin-bottom: 50px;
}

@media screen and (max-width: 1000px) {
    .about-awards-winning-left h2 {
        margin-top: 15px;
        margin-bottom: 20px;
    }

}

.about-awards-winning-left p {
    font-size: 20px;
    font-weight: 400;
    color: var(--paragraph);
    font-family: var(--paragraph);
}

.about-awards-winning-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1100px) {
    .about-awards-winning-right {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 750px) {
    .about-awards-winning-right {
        grid-template-columns: auto auto auto;
    }

    .about-awards-winning-first {
        flex-direction: column;
        gap: 5px;
        padding: 50px 0 50px 0;
    }

    .about-awards-winning-left {
        width: 100%;
    }

    .about-awards-winning-right {
        width: 100%;
    }
}

.about-awards-winning-right-items img {
    width: 100%;
    height: auto;
}

.about-awards-winning-right-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.award-winning-video {
    position: relative;
}

.award-play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.award-video-thumbnail {
    width: 100%;
    height: 100%;
}

.award-winnig-bottom-arrow a {
    font-size: 20px;
    color: var(--primary-color-for-headings);
    font-family: var(--paragraph);
    text-decoration: none;
    padding-bottom: 10px;
    padding-right: 5px;
    display: flex;
    justify-content: center;
    font-weight: 600;
}

.award-winnig-bottom-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.about-awards-winning p {
    font-size: 20px;
    color: var(--color-paragraph);
    font-family: var(--paragraph);
    line-height: 27px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.award-winnig-bottom {
    padding: 0 0 50px 0;
}

/* about slider */
.my-books-author {
    padding: 100px 0;
}

.about-slider h4 {
    font-size: 48px;
    font-weight: 700;
    color: var(--primary-color-for-headings);
    font-family: var(--heading);
    margin-bottom: 50px;
}

@media screen and (max-width: 1000px) {
    .about-slider h4 {
        margin-bottom: 20px;
    }

    .my-books-author {
        padding: 50px 0;
    }
}

.swiper-slide img {
    width: unset;
    height: unset;
}

.books-slider-img {
    width: 100% !important;
    height: auto !important;
}

.certificate-swiper-img {
    padding-bottom: 25px;
}

.swiper-slide h3 {
    font-size: 19px;
    font-weight: 700;
    color: var(--primary-color-for-headings);
    font-family: var(--paragraph);
    margin-top: 20px;
    text-align: center;
}

.w3-red,
.w3-hover-red:hover {
    color: #fff !important;
    background-color: var(--primary-color-for-headings) !important;
}

.about-me-home-new-about {
    background-color: var(--color-white);
    background-image: linear-gradient(150deg, #ACC8D3 -34%, var(--color-white)) !important;
}

/* Awards and Recognition */
.awards-and-recognition {
    background-color: var(--color-white);
}

.awards-and-recognition-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 85px 0;
}

.awards-and-recognition-container h2 {
    font-size: 48px;
    font-weight: 400;
    color: var(--primary-color-for-headings);
    font-family: var(--heading);
    margin-bottom: 25px;
    text-align: center;
}

.awards-and-recognition-container h3 {
    font-size: 48px;
    font-weight: 500;
    color: var(--primary-color-for-headings);
    font-family: var(--heading);
    padding-bottom: 10px;
    border-bottom: 5px solid var(--primary-color-for-headings);
    margin-bottom: 65px;
    text-align: center;
}

.awards-and-recognition-img-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 100px;
}

.awards-and-recognition-img img {
    width: 100%;
    height: auto;
}

.awards-and-recognition-img h4 {
    font-size: 24px;
    font-weight: 700;
    color: var(--primary-color-for-headings);
    font-family: var(--heading);
    margin-top: 44px;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .awards-and-recognition-img-container {
        gap: 50px;
    }

    .awards-and-recognition-container h3 {
        margin-bottom: 30px;
    }

    .awards-and-recognition-container {
        padding: 50px 0;
    }
}

@media screen and (max-width: 800px) {
    .awards-and-recognition-img h4 {
        margin-top: 15px;
    }
}

@media screen and (max-width: 600px) {
    .awards-and-recognition-img-container {
        flex-direction: column;
        gap: 40px;
    }
}

/* Why I Wrote */
.author-about-wrote {
    background-color: var(--color-white);
    padding: 100px 0;
}

@media screen and (max-width: 1000px) {
    .author-about-wrote {
        padding: 0 0 50px 0;
    }
}

.author-about-wrote-headng {
    text-align: center;
}

.author-about-wrote-headng h2 {
    font-size: 48px;
    font-weight: 400;
    color: var(--primary-color-for-headings);
    font-family: var(--heading);
    margin-bottom: 15px;
}

.author-about-wrote-headng h3 {
    font-size: 48px;
    font-weight: 500;
    color: var(--primary-color-for-headings);
    font-family: var(--heading);
    margin-bottom: 55px;
    border-bottom: 5px solid var(--primary-color-for-headings);
    display: inline-block;
}

.author-about-wrote-description img {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    padding-top: 10px;
}

.author-about-wrote-description h4 {
    font-size: 48px;
    font-weight: 500;
    color: var(--primary-color-for-headings);
    font-family: var(--heading);
    margin-bottom: 10px;
}

.author-about-wrote-description p {
    font-size: 19px;
    font-weight: 400;
    font-family: var(--paragraph);
    color: var(--color-paragraph);
    margin-bottom: 10px;
    line-height: 25px;
}

/* Interview */
.author-interview {
    background-color: var(--color-white);
    background-image: linear-gradient(150deg, #ACC8D3 -34%, var(--color-white)) !important;
    padding: 100px 0;
}

@media screen and (max-width: 1000px) {
    .author-interview {
        padding: 50px 0;
    }
}

.author-interview-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100PX;
    align-items: center;
}

.author-interview-left h2 {
    font-size: 48px;
    font-weight: 400;
    color: var(--primary-color-for-headings);
    font-family: var(--heading);
    margin-bottom: 15px;
}

.award-button-play-about {
    border-radius: 50%;
}

.about-audio-control{
    width: 100%;
}

.author-interview-left h3 {
    font-size: 48px;
    font-weight: 500;
    color: var(--primary-color-for-headings);
    font-family: var(--heading);
    margin-bottom: 38px;
    border-bottom: 5px solid var(--primary-color-for-headings);
    display: inline-block;
    padding-bottom: 5PX;
}

.author-interview-left p {
    font-size: 19px;
    font-weight: 400;
    font-family: var(--paragraph);
    color: var(--color-paragraph);
    line-height: 25px;
}
/* 
.interview-audio-player{
    cursor: pointer;
} */

.interview-audio-player img{
    width: 40px;
    height: 40px;
}

.interview-audio-title-bg {
    background-color: var(--color-white);
    padding: 40px 40px 20px 40px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.interview-audio-title-bg p{
    font-size: 19px;
    font-weight: 400;
    font-family: var(--paragraph);
    color: var(--color-paragraph);
    line-height: 25px;
}

.interview-audio-title-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 20px;
    align-items: center;
}

.interview-audio-title-container h4 {
    font-size: 20px;
    font-weight: 500;
    color: var(--primary-color-for-headings);
    font-family: var(--paragraph);
}

@media screen and (max-width: 1000px) {
    .author-interview-container {
        grid-template-columns: 1fr;
        align-items: center;
        gap: 50px;
    }
}

/* Certificate-slider-img */
.certificate-slider-img {
    padding-bottom: 40px;
    width: 100% !important;
    height: auto !important;
}