/* About */
.about-me-container-top {
    background-color: var(--color-white);
}

.about-me-top {
    padding: 85px 0;
}

@media screen and (max-width: 1000px) {
    .about-me-top {
        padding: 50px 0 0 0;
    }

    .about-me-description p {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 700px) {
    .about-me-count-container {
        flex-direction: column;
        gap: 20px;
    }
}

.about-me-count {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Award Wining */
.about-awards-winning {
    background-color: var(--color-white);
}

.about-awards-winning-first {
    display: flex;
    justify-content: space-around;
    gap: 45px;
    align-items: center;
    margin-bottom: 85px;
}

@media screen and (max-width: 1000px) {
    .about-awards-winning-first {
        flex-direction: column;
        gap: 45px;
        align-items: flex-start;
        margin-bottom: 50px;
    }
}

.about-awards-winning-left h1 {
    font-size: 48px;
    font-weight: 700;
    color: var(--primary-color-for-headings);
    font-family: var(--heading);
    margin: 0;
    padding: 0;
}

.about-awards-winning-left h2 {
    font-size: 48px;
    font-weight: 700;
    font-family: var(--heading);
    color: var(--primary-color-for-headings);
    display: inline-block;
    border-bottom: 5px solid var(--primary-color-for-headings);
    margin-top: 27px;
    margin-bottom: 50px;
}

@media screen and (max-width: 1000px) {
    .about-awards-winning-left h2 {
        margin-top: 15px;
        margin-bottom: 20px;
    }

}

.about-awards-winning-left p {
    font-size: 20px;
    font-weight: 400;
    color: var(--paragraph);
    font-family: var(--paragraph);
}

.about-awards-winning-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1100px) {
    .about-awards-winning-right {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 750px) {
    .about-awards-winning-right {
        grid-template-columns: auto auto auto;
    }

    .about-awards-winning-first {
        flex-direction: column;
        gap: 5px;
        padding: 50px 0 0 0;
    }

    .about-awards-winning-left {
        width: 100%;
    }

    .about-awards-winning-right {
        width: 100%;
    }
}

.about-awards-winning-right-items img {
    width: 100%;
    height: auto;
}

.about-awards-winning-right-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.award-winning-video {
    position: relative;
}

.award-play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.award-video-thumbnail {
    width: 100%;
    height: 100%;
}

.about-awards-winning a {
    font-size: 20px;
    color: var(--primary-color-for-headings);
    font-family: var(--paragraph);
    text-decoration: none;
    padding-bottom: 10px;
    padding-right: 5px;
    display: flex;
    justify-content: center;
    font-weight: 600;
}

.award-winnig-bottom-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.about-awards-winning p {
    font-size: 20px;
    color: var(--paragraph);
    font-family: var(--paragraph);
    line-height: 27px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.award-winnig-bottom {
    padding: 0 0 50px 0;
}

/* about slider */
.about-slider h4 {
    font-size: 48px;
    font-weight: 700;
    color: var(--primary-color-for-headings);
    font-family: var(--heading);
    margin-bottom: 50px;
}

@media screen and (max-width: 1000px) {
    .about-slider h4 {
        margin-bottom: 20px;
    }
}

.swiper-slide img {
    width: 100%;
    height: 100%;
}

.swiper-slide h3 {
    font-size: 19px;
    font-weight: 700;
    color: var(--primary-color-for-headings);
    font-family: var(--paragraph);
    margin-top: 20px;
    text-align: center;
}

.w3-red,
.w3-hover-red:hover {
    color: #fff !important;
    background-color: var(--primary-color-for-headings) !important;
}