.author-carousel-topp {
    background-color: var(--color-gray);
}

.author-carousel {
    padding: 100px 0 110px 0;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .author-carousel {
        padding: 50px 0;
    }
}

.author-carousel h1 {
    font-family: var(--heading);
    color: var(--primary-color-for-headings);
    font-size: 25px;
    margin: 0;
}

.author-carousel h2 {
    font-family: var(--heading);
    border-bottom: 5px solid var(--primary-color-for-headings);
    color: var(--primary-color-for-headings);
    font-size: 48px;
    display: inline-block;
    margin-bottom: 50px;
    margin-top: 20px;
    padding-bottom: 10px;
}

.carousel-containeer {
    background-color: var(--color-white);
    padding: 50px;
    border-radius: 30px;
    max-width: 1000px;
    text-align: left;
}

.carousel-first {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carousel-review-author {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.carousel-review-author img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin-right: 20px;
}

.carousel-review-author-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.carousel-review-author-description h3 {
    font-size: 20px;
    font-weight: 700;
    color: var(--primary-color-for-headings);
}

.carousel-review-author-description p {
    margin: 0;
    padding: 0;
}

.w3-red,
.w3-hover-red:hover {
    color: var(--color-white) !important;
    background-color: var(--primary-color-for-headings) !important;
}

.review-rating {
    color: var(--primary-color-for-headings);
}

.carousel-main-content p {
    font-size: 18px;
    font-family: var(--paragraph);
    color: var(--color-paragraph);
    line-height: 140%;
    margin-top: 5px;
    margin-bottom: 10px;
}

/* Pagination custom */
.swiper-pagination-fraction {
    bottom: unset !important;
    margin-top: 15px;
    font-size: 18px;
    color: var(--primary-color-for-headings);
    font-size: 18px;
    font-family: var(--paragraph);
    color: var(--color-paragraph);
    line-height: 140%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-pagination-fraction span{
    font-size: 18px;
    padding: 5px;
    color: var(--primary-color-for-headings);
}

.swiper {
    width: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.swiper-slide {
    width: 80%;
}

/* last */
.swiper {
    width: 100%;
}

.swiper-slide {
    text-align: left;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide {
    width: 60%;
}